<nav class="top_navigation_bar">
    <ul>
      <li><a href="/" class="logo no-hover-color-change">Together Mart</a></li>
      <li class="search">
        <form action="/search" method="GET">
          <input
            type="text"
            name="query"
            placeholder="Search for Used or new Items"
          />
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </li>
      <li class="sell_or_rent">
        <a href="https://www.example.com" class="rectangle-link">
          <div class="rectangle sell_or_rent-rectangle">Sell your Item</div>
        </a>
      </li>
      <li>
        <a href="#" class="watchlist">
          <i class="far fa-heart"></i>
          <span class="small_text">Watch List</span>
        </a>
      </li>
      <li><a href="#">Signup</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </nav>