nav {
  margin: 0;
  padding: 10px 0;

}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: left;
  border-bottom: 0.5px solid grey;

}

nav a {
  color: #00bff3;
  text-decoration: none;
  font-weight: 600;
  display: block;
  padding: 0.5rem 1rem;
}

nav a:focus {
  background-color: #F0C808;
  color: black;
}

nav a:hover {
  background-color: #f0c808;
  color: #FF583D;
  background-image: url("https://assets.codepen.io/296057/lil-yellowdots.png");
}

.active {
  color: #FF583D;
  background-color: #c5e5ed;
  background-image: url("https://assets.codepen.io/296057/lil-bluedots.png");
}

.logo{
  color:#212121;
  padding-left: 2.4rem;
}

nav form {
  display: flex;
  align-items: center;
}

nav input[type="text"] {
  width: 200px; /* adjust the width as needed */
  margin-left: 10px; /* adjust the margin as needed */
}

nav .search {
  vertical-align: middle;
  padding: 8px 10px;
}

nav .search input[type="text"] {
  padding: 8px 10px;
  margin: 0;
}

.site-search__controls__input{
  -webkit-font-smoothing: antialiased;
  font-family: Lato,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #212121;
  resize: none;
  width: 100%;
  -webkit-box-flex: 1;
  flex: 1;
  box-sizing: border-box;
  height: 3.6rem;
  padding: 1rem;
  border: none;
  transition: background .2s;
  background: #fff;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
}