<!DOCTYPE html>
<html
  class="exp-borderless-input-group"
  lang="en"
  xml:lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
>
  <head>
    <title><%=siteName%> | <%=pageTitle%> </title>
    <meta
      name="description"
      content="Website to sell Items to your Colleagues and other Corporate Professionals"
    />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="js-translations" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <script type="text/javascript">
      // Fix for Firefox autofocus CSS bug
      // See: http://stackoverflow.com/questions/18943276/html-5-autofocus-messes-up-css-loading/18945951#18945951
    </script>
  </head>
  <body>
    <%- include(`./partials/top_navigation`) %>
    
  </body>
</html>
