<!DOCTYPE html>
<html
  class="exp-borderless-input-group"
  lang="en"
  xml:lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
>
  <head>
    <title>Items for Sale</title>
    <meta
      name="description"
      content="Website to sell Items to your Colleagues and other Corporate Professionals"
    />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="js-translations" />
    <link rel="manifest" href="/manifest.json"/>
   <% /*

    <link
      rel="shortcut icon"
      type="image/png"
      href="https://static.reverb-assets.com/assets/top-level/favicon-f9ab66845edc38c07412a7143150a6b04fd9b0a6287062fdc1532862ac42cf73.png"
    />
    <link
      href="https://plus.google.com/105095810138167755337"
      rel="publisher"
    />
    <link
      href="https://reverb.com/open_search"
      rel="search"
      title="Reverb.com"
      type="application/opensearchdescription+xml"
    />
    <link
      href="https://static.reverb-assets.com/assets/apple-icons/touch-icon-iphone-db46c4b856683880049da30cdfc7a8b92df3cece2fbe86b6dd315dd919d5b4c1.png"
      rel="apple-touch-icon"
      sizes="57x57"
    />
    <link
      href="https://static.reverb-assets.com/assets/apple-icons/touch-icon-ipad-791bc2583bce7df91fdba1a919b9173704ea574e544623713285287203fcd90f.png"
      rel="apple-touch-icon"
      sizes="76x76"
    />
    <link
      href="https://static.reverb-assets.com/assets/apple-icons/touch-icon-iphone-retina-68a55b90e371dfc5079bf6ac25cddfe2b45b8c1fdee97bc62f59f287e47287a9.png"
      rel="apple-touch-icon"
      sizes="120x120"
    />
    <link
      href="https://static.reverb-assets.com/assets/apple-icons/touch-icon-ipad-retina-d1f670e5d6401fceac83ecd22cd5b09ad04b5e9d2b85cfca7be613c2ffec0605.png"
      rel="apple-touch-icon"
      sizes="152x152"
    />
    <link
      href="https://static.reverb-assets.com/assets/apple-icons/touch-icon-ipad-pro-379aeec00761a42501fbda4023d8b79c61a3952527024ca03fc5780781d7b914.png"
      rel="apple-touch-icon"
      sizes="167x167"
    />
    <link
      href="https://static.reverb-assets.com/assets/apple-icons/touch-icon-iphone-6-plus-addee3f1ddb3fc5c8ecb196634a211e7726ab56548ef7cf73c0fb10e0ee9aedf.png"
      rel="apple-touch-icon"
      sizes="180x180"
    />
    <link
      color="#F88700"
      href="https://static.reverb-assets.com/assets/icons/reverb-circle-logo-a18203d524763cc31650b40e3305465344bdf4079b2a9ceb899c53ceaa559940.svg"
      rel="mask-icon"
    />
    <script id="renv.settings" type="application/json">
      { "DEPLOY_ENV": "production" }
    </script>
    <script
      src="https://static.reverb-assets.com/production-assets/webpack/manifest-e3c367d4dad4e087.client.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      media="all"
      crossorigin="anonymous"
      href="https://static.reverb-assets.com/production-assets/webpack/styles-a770c781b42c10fe.bundle.css"
    />
    <link
      as="font"
      crossorigin="anonymous"
      href="https://static.reverb-assets.com/production-assets/webpack/fonts/lato-v14-latin-regular.woff2"
      rel="preload"
      type="font/woff2"
    />
    <link
      as="font"
      crossorigin="anonymous"
      href="https://static.reverb-assets.com/production-assets/webpack/fonts/lato-v14-latin-700.woff2"
      rel="preload"
      type="font/woff2"
    />
    <link
      as="font"
      crossorigin="anonymous"
      href="https://static.reverb-assets.com/production-assets/webpack/fonts/lato-v14-latin-300.woff2"
      rel="preload"
      type="font/woff2"
    />
    <link href="https://rql.reverb.com" rel="dns-prefetch" />
    <link href="https://api.reverb.com" rel="dns-prefetch" />
    <link href="https://www.google.com" rel="preconnect" />
    <link
      crossorigin="anonymous"
      href="https://www.gstatic.com"
      rel="preconnect"
    /> */ %>

    <script type="text/javascript">
      // Fix for Firefox autofocus CSS bug
      // See: http://stackoverflow.com/questions/18943276/html-5-autofocus-messes-up-css-loading/18945951#18945951
    </script>
  </head>
  <body>
   <h1>Sample Page</h1> 

  </body>
</html>
