<!DOCTYPE html>
<html
  class="exp-borderless-input-group"
  lang="en"
  xml:lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
>
  <head>
    <title>Items for Sale</title>
    <meta
      name="description"
      content="Website to sell Items to your Colleagues and other Corporate Professionals"
    />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="js-translations" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="/css/style.css" />

    <script type="text/javascript">
      // Fix for Firefox autofocus CSS bug
      // See: http://stackoverflow.com/questions/18943276/html-5-autofocus-messes-up-css-loading/18945951#18945951
    </script>
  </head>
  <body class="exp-borderless-input-group">
    <nav class="navigation_bar">
      <div class="logo">
        <a href="/">My Website Logo</a>
      </div>
      <div class="reverb-header__nav reverb-header__nav--main">
        <div class="reverb-header__nav__search">
          <div class="site-search__underlay">
            <div class="site-search site-search--active">
              <div class="site-search__controls">
                <div class="offset-anchor-wrapper">
                  <div class="offset-anchor scrollTarget"></div>
                </div>
                <input
                  type="text"
                  class="site-search__controls__input"
                  title="Search Reverb for used &amp; new music gear"
                  autocorrect="off"
                  autocapitalize="off"
                  tabindex="0"
                  value=""
                  placeholder="Shop for used &amp; new music gear..."
                /><a
                  class="site-search__controls__submit"
                  rel="submit-form"
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="watchlist">
        <a href="/watchlist">Watch List</a>
      </div>
      <div class="signup">
        <a href="/signup">Sign up</a>
      </div>
      <div class="login">
        <a href="/login">Login</a>
      </div>
    </nav>
  </body>
</html>
